#define INCL_PM
#include <os2.h>
#include "lpthex.h"

POINTER ID_MAINMENU lpthex.ico

MENU ID_MAINMENU
  {
    SUBMENU "~File",-1
      {
        MENUITEM "Printer ~Setup...\tAltS",IDM_SETUP
        MENUITEM "~Print\tAltP",IDM_PRINT
        MENUITEM "~Cancel print\tAltC",IDM_CANCEL,,MIA_DISABLED
        MENUITEM "E~xit\tAltX",SC_CLOSE,MIS_SYSCOMMAND
      }
   SUBMENU "~Help", -2
      {
         MENUITEM "~Help index\tAltH",IDM_HELPINDEX
         MENUITEM "~General help\tAltG",IDM_GENERALHELP
         MENUITEM "~Keys help\tAltK",IDM_TUTORIAL
         MENUITEM "~Using help\tAltU",IDM_USINGHELP
         MENUITEM SEPARATOR
         MENUITEM "Product ~information...\tAltI",IDM_HELPPRODUCTINFO
      }
  }

ACCELTABLE ID_MAINMENU
  {
    "c",IDM_CANCEL,CHAR,ALT
    "g",IDM_GENERALHELP,CHAR,ALT
    "h",IDM_HELPINDEX,CHAR,ALT
    "i",IDM_HELPPRODUCTINFO,CHAR,ALT
    "k",IDM_TUTORIAL,CHAR,ALT
    "p",IDM_PRINT,CHAR,ALT
    "s",IDM_SETUP,CHAR,ALT
    "u",IDM_USINGHELP,CHAR,ALT
    "x",SC_CLOSE,CHAR,ALT,SYSCOMMAND
  }

HELPTABLE LPTHEX_HELP_TABLE
  {
    HELPITEM ID_MAINMENU,SUBTABLE_MAIN,HELP_MAIN
  }

HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
  {
    HELPSUBITEM IDM_SETUP,HELP_FILESETUP
    HELPSUBITEM IDM_PRINT,HELP_FILEPRINT
    HELPSUBITEM IDM_CANCEL,HELP_FILECANCEL
    HELPSUBITEM SC_CLOSE,HELP_FILEEXIT

    HELPSUBITEM IDM_GENERALHELP,HELP_GENERALHELP
    HELPSUBITEM IDM_USINGHELP,HELP_USINGHELP
    HELPSUBITEM IDM_TUTORIAL,HELP_TUTORIAL
    HELPSUBITEM IDM_HELPINDEX,HELP_HELPINDEX
    HELPSUBITEM IDM_HELPPRODUCTINFO,HELP_HELPPRODUCTINFO
  }

STRINGTABLE
  {
    IDS_HELPLIBRARYNAME "LPTHEX.HLP"
    IDS_HELPWINDOWTITLE "LPTHEX Help"
  }

MESSAGETABLE
  {
    IDMSG_CANNOTLOADSTRING "Failed to load string."
    IDMSG_HELPLOADERROR    "Failed to load help manager."
    IDMSG_HELPDISPLAYERROR "Failed to display help panel."
  }

DLGINCLUDE 1 "lpthex.h"

DLGTEMPLATE IDD_PRODUCTINFO LOADONCALL MOVEABLE DISCARDABLE
  {
    DIALOG  "Product Information", IDD_PRODUCTINFO, -50, 3, 276, 137, 
            FS_NOBYTEALIGN | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
      {
        DEFPUSHBUTTON "~OK",ID_MAINMENU,111,8,45,15
        CTEXT "LPTHEX",714,108,116,50,8
        CTEXT "Generate and Print Mazes in Three Dimensions",715,26,97,215,8
        CTEXT "by",716,123,75,20,8
        CTEXT "James L. Dean",717,96,62,75,9
        CTEXT "August 31, 1992",720,93,45,79,8
      }
  }

DLGTEMPLATE IDD_PRINTSETUP
  {
    DIALOG "Printing Options",IDD_PRINTSETUP,9,36,257,127,FS_NOBYTEALIGN
           | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS,FCF_SYSMENU | FCF_TITLEBAR
      {
        LTEXT "Select  a laser or dot matrix printer.",IDD_PSTEXT,12,112,157,8
        LISTBOX IDD_PSLISTBOX,10,35,232,73
        DEFPUSHBUTTON "OK",DID_OK_BUTTON,10,10,38,13,WS_GROUP
        PUSHBUTTON "Cancel",DID_CANCEL_BUTTON,59,10,38,13
        PUSHBUTTON "Job properties...",IDD_PSJOBPROP,109,10,86,13
      }
  }
